$tablet_large : 1025px;
$middleTablet: 1000px;
$tablet : 970px;
$tablet1 : 770px;
$phone : 700px;
$Smallphone : 375px;
$Smallphone1 : 325px;
$minPhoneHeight: 696px;
$minPhoneSmallHeight: 570px;
$minHeightForPhone: 800px;
$XPhone: 900px;
$smallminHeightForPhone: 650px;
$descktop: 1440px;
@import url(//db.onlinewebfonts.com/c/164fce79eadeff648f8b1e539b2975db?family=Avenir+Next+Condensed+Medium);
@import url(//db.onlinewebfonts.com/c/2496eb70827df990b3134e5285c1b676?family=PWSignaturetwo);
@import url(//fonts.googleapis.com/css?family=Great+Vibes&display=swap);
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/CenturyGothicRegular.ttf') format('ttf');
}

#root{
    // @media (max-width: $phone) {
        overflow-x: hidden;
        overflow-y: hidden;
    // }
}


.backgroundImgExpertise {
    background-image: url('../assets/img/chesesBackground.jpg');
    width: 100%;
    height: 103vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1%;
    @media (max-width: $tablet) {
        height: 100vh;
    }
    .overlayExpertise {
        background-color: #1D1B26;
        height: 100%;
        width: 100%;
        opacity: 0.88;
        padding-top: 3.78%;
        padding-left: 7.06%;
        @media (max-width: $tablet_large) {
            overflow-y: auto;
        }
        @media (max-width: $phone) {
            overflow-y: auto;
        }
        .title {
            font-family: "Avenir Next";
            font-size: 24px;
            font-weight: 500;
            color: #F80A4D;

            @media (max-width: $phone) {
                margin-left: 10%;
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
            width: 85%;
            .icon {
                width: 10%;
                display: flex;
                justify-content: space-between;
                color: #F8094B;
                cursor: pointer;
                @media (max-width: $tablet) {
                    width: 25%;
                }
                @media (max-width: $phone) {
                    width: 35%;
                }
                .linkedin {
                    margin-left: -11%;
                }
                &:before {
                    font-size: 29px;
                }
            }
        }
        .bodyContent {
            display: flex;
            width: 85%;
            padding-top: 1.78%;
            justify-content: space-between;
            color: #ECECEC;
            overflow-y: auto;
            @media (max-width: $tablet_large) {
                height: 106vh;
            }
            @media (max-width: $tablet) {
                flex-direction: column;
                height: 150vh;
                justify-content: flex-start;
            }
            @media (max-width: $minPhoneSmallHeight) {
                height: 250vh;
            }
            @media (max-width: $Smallphone1) {
                height: 310vh;
            }
            
            div {
                width: 23.5%;
                @media (max-width: $tablet_large) {
                    width: 30.5%;
                }
                @media (max-width: $tablet) {
                    width: 100%;
                }
                @media (max-width: $phone) {
                    width: 90%;
                }
                .header {
                    color: #ECECEC;
                    text-align: center;
                    font-family: "Century Gothic";
                    font-size: 172%;
                    display: flex;
                    flex-direction: column;
                    height: 139px;
                    justify-content: space-around;
                    @media (max-width: $tablet_large) {
                        height: 15vh;
                    }
                    @media (max-width: $tablet1) {
                        svg {
                            margin:auto !important;
                        }
                    }
                    @media (max-width: $phone) {
                        font-size: 109%;
                        margin-left: 10%;
                        svg {
                            margin-left: 39% !important;
                        }
                    }
                    // @media (max-width: $Smallphone1) {
                    //     font-size: 109%;
                    // }
                    .icon {
                        color: #ECECEC;
                        height: 7.51%;
                        width: 100%;
                        justify-content: center;
                        margin-bottom: 8.51%;
                        &:before {
                            font-size: 140%;
                        }
                    }
                }
                .list {
                    font-size: 15px;
                    color: #F2F2F2;
                    li {
                        line-height: 20px;
                        &:before {
                            color: #F80952;
                        }
                    }
                }
            }
        }
    }
}

.backgroundImgPresentation {
    background-image: url('../assets/img/romanBackground.jpg');
    width: 100%;
    // height: 103vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1%;
    overflow: hidden;
    @media (max-width: $tablet_large) {
        overflow-y: auto;
    }
    .overlayPresentation {
        background-color: #FFFFFF;
        width: 100%;
        opacity: 0.88;
        padding-top: 3.78%;
        padding-left: 7.06%;
        .title {
            font-family: "Avenir Next";
            font-size: 24px;
            font-weight: 500;
            color: #F80A4D;
            @media (max-width: $phone) {
                margin-left: 10%;
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
            width: 85%;
            .icon {
                width: 10%;
                display: flex;
                justify-content: space-between;
                color: #F8094B;
                cursor: pointer;
                @media (max-width: $tablet) {
                    width: 25%;
                }
                @media (max-width: $phone) {
                    width: 35%;
                }
                .linkedin {
                    margin-left: -11%;
                }
                &:before {
                    font-size: 29px;
                }
            }
        }
        .bodyContent {
            width: 85%;
            padding-top: 1.78%;
            @media (max-width: $tablet_large) {
                padding-top: 15.78%;
            }
            @media (min-height: 700) {
                overflow: hidden;
                // height: 60vh;
            }
            .header {
                font-family: "Century Gothic";
                color: #3C3B4A;
                font-size: 80px;
                display: flex;
                flex-direction: column;
                height: 139px;
                justify-content: space-around;
                margin-bottom: 42px;
                transition: opacity 300ms, transform 300ms;
                @media (max-width: $tablet) {
                    font-size: 500%;
                }
                @media (max-width: $phone) {
                    font-size: 300%;
                }
                .icon {
                    color: #ECECEC;
                    height: 7.51%;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 8.51%;
                    &:before {
                        font-size: 140%;
                    }
                }
            }
            .container {
                width: 65.56%;
                margin-left: 0 !important;
                font-size: 140%;
                line-height: 30px;
                overflow-y: auto;
                @media (max-width: $tablet) {
                    font-size: 130%;
                }
                @media (max-width: $phone) {
                    font-size: 100%;
                }
            }
            .sign {
                float: right;
                margin-right: 20%;
                font-family: "PWSignaturetwo";
                font-size: 400%;
                @media (max-width: $phone) {
                    margin-top: 10%;
                }
            }
        }
    }
}

.backgroundImgHome {
    background-image: url('../assets/img/libraryBackground.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1%;
    @media (min-height: $minHeightForPhone) {
        overflow-y: hidden !important;
    }

    .overlayHome {
        background-color: #1D1B26;
        height: 100%;
        width: 100%;
        opacity: 0.88;
        padding-top: 3.78%;
        padding-left: 7.06%;

        @media (max-width: $tablet) {
            width: 90%;
        }
        @media (max-width: $Smallphone) {
            width: 94%;
        }

        .title {
            font-family: "Avenir Next";
            font-size: 24px;
            font-weight: 500;
            color: #F80A4D;
            @media (max-width: $phone) {
                margin-left: 10%;
            }
        }
        .head {
            display: flex;
            justify-content: flex-end;
            width: 85%;
            .icon {
                width: 10%;
                display: flex;
                justify-content: space-between;
                color: #F8094B;
                cursor: pointer;
                @media (max-width: $tablet) {
                    width: 25%;
                }
                @media (max-width: $phone) {
                    width: 35%;
                }
                .linkedin {
                    margin-left: -11%;
                }
                &:before {
                    font-size: 29px;
                }
            }
        }
        .bodyContent{
            padding: 5%;
            // @media (max-width: $tablet_large) {
            //     height: 99vh;
            // }
            .header {
                display: block !important;
                color: #FFFFFF;
            }
            .maitr{
                font-family: 'Great Vibes', cursive;
                @media (min-width: $tablet_large) {
                    font-size: 42px;
                }
            }
            .name{
                font-size: 730%;
                width: 40%;
                color: #F8094B;
                font-weight: 100;
                // height: 15vw;
                // @media (max-width: $tablet_large) {
                //     height: 25vw;
                // }
                @media (max-width: $tablet) {
                    font-size: 400%;
                }
                @media (max-width: $phone) {
                    font-size: 215%;
                    // height: 20vw;
                }
            }
            .homePresnt{
                display: flex;
                @media (max-width: $phone) {
                    flex-direction: column;
                }
                .profileImg{
                    width: 190px;
                    img{
                        @media (max-width: $minPhoneHeight) {
                            width: 60%;
                        }
                    }
                }
                .borderRight{
                    border-right: 1px solid #ec1b4e;
                    margin-left: 5%;
                    margin-top: -3.1%;
                }
                .contentHome{
                    margin-left: 51px;
                    width: 500px;
                    font-size: 18px;
                    color: #FFFFFF;
                    line-height: 25px;
                    font-family: "Avenir Next";
                    @media (max-width: $phone) {
                        width: 100%;
                        margin-left: 0%;
                        margin-top: 7%;
                    }
                    @media (max-width: $minPhoneSmallHeight) {
                        font-size: 100%;
                    }
                    .profileIntro{
                        display: flex;
                        .arrow{
                            width: 70%;
                            align-self: center;
                            margin-left: 10%;
                            color: #ef1e55;
                            cursor: pointer;
                            svg{
                                padding-top: 2%;
                            }
                            @media (max-width: $phone) {
                                display: none;
                            }
                        }
                    }
                    .buttonHome{
                        @media (max-width: $phone) {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            bottom: 12%;
                        }
                        @media (max-height: $minPhoneSmallHeight) {
                            bottom: 11%;
                        }
                        &>.button {
                            @media (max-width: $tablet) {
                                margin-bottom: 5%;
                            }
                        }
                    }
                }
            }
            .scrollEvent{
                width: 100%;
                cursor: pointer;
                margin: 5% auto;
                display: block;
                @media (max-width: $tablet_large) {
                    margin: -22% auto;
                }
                @media (max-width: $phone) {
                    display: none;
                }
                .scrollBottom{
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    // margin-top: 8%;
                    @media (max-width: $tablet_large) {
                        margin-top: 60%;
                    }
                }
                .scrollFlex{
                    display: flex;
                    width: 90%;
                    justify-content: center;
                    color: #fff;
                    margin-top: -2%;
                    transform: rotate(90deg);
                    font-size: 200%;
                }
            }
        }
    }
}